services:
  docker-proxy:
    image: wollomatic/socket-proxy:1.11.2
    user: "65534:999"
    networks:
      - traefik-internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    restart: unless-stopped
    read_only: true
    cap_drop:
      - ALL
    command:
      - '-loglevel=info' # set to debug for far more logging
      - '-allowfrom=10.0.2.187'
      - '-listenip=0.0.0.0'
      - '-allowGET=/(v1\..{1,2}/)?(version|containers/.*|services.*|tasks.*|networks.*|nodes.*|events.*)' # this regexp allows readonly access only for requests that traefik needs
      - '-allowHEAD=/_ping'
      - '-shutdowngracetime=5'
      - '-watchdoginterval=600'
      - '-stoponwatchdog'
    deploy:
      resources:
        limits:
          memory: 64M
      placement:
        constraints: [node.role == manager]

  traefik:
    image: traefik-dtlb:${VERSION}
    build: 
      context: .
      dockerfile: dockerfile
    depends_on:
      - docker-proxy
    command:
      - "--log.level=DEBUG"
      - "--api.dashboard=true"           
      - "--providers.docker=true"
      - "--providers.docker.endpoint=tcp://docker-proxy:2375"        
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"   
      - "--entrypoints.dashboard.address=:8080"
      - "--certificatesresolvers.letsencrypt.acme.email=${EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    ports:
      - target: 80
        published: 80
        mode: ingress
      - target: 443
        published: 443
        mode: ingress
    volumes:   
      - "letsencrypt:/letsencrypt"
    labels:
      - "traefik.enable=true"
      # Dashboard router configuration
      - "traefik.http.routers.traefik.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      
      # ACME/Let's Encrypt configuration
      - "traefik.http.middlewares.ssl-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.ssl-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.middlewares=ssl-redirect"
      
      # TLS configuration
      - "traefik.http.routers.traefik.tls=${TRAEFIK_TLS}"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"

      # Auth
      - "traefik.http.routers.traefik.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/users"
    networks:
      web:
      traefik-internal:
        aliases:
          - traefik



networks:
  web:
    external: true
  traefik-internal:
    external: true

volumes:
  letsencrypt:

