services:
  docker-proxy:
    image: wollomatic/socket-proxy:1.11.2
    user: ":999"
    networks:
      - traefik-internal
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - SERVICES=1  # Traefik needs to see services
      - NETWORKS=1  # Traefik needs to see networks
      - TASKS=1     # Required for Swarm mode
    deploy:
      placement:
        constraints: [node.role == manager]

  traefik:
    image: traefik-dtlb:${VERSION}
    build: 
      context: .
      dockerfile: dockerfile
    command:
      - "--log.level=DEBUG"
      - "--api.dashboard=true"           
      - "--providers.docker=true"
      - "--providers.docker.endpoint=tcp://docker-proxy:2375"        
      - "--entrypoints.web.address=:80"
      - "--entrypoints.websecure.address=:443"   
      - "--entrypoints.dashboard.address=:8080"
      - "--certificatesresolvers.letsencrypt.acme.email=${EMAIL}"
      - "--certificatesresolvers.letsencrypt.acme.storage=/letsencrypt/acme.json"
      - "--certificatesresolvers.letsencrypt.acme.httpchallenge.entrypoint=web"
    ports:
      - target: 80
        published: 80
        mode: ingress
      - target: 443
        published: 443
        mode: ingress        
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock"
      - "letsencrypt:/letsencrypt"
    labels:
      - "traefik.enable=true"
      # Dashboard router configuration
      - "traefik.http.routers.traefik.rule=Host(`${DOMAIN}`)"
      - "traefik.http.routers.traefik.entrypoints=websecure"
      - "traefik.http.routers.traefik.service=api@internal"
      
      # ACME/Let's Encrypt configuration
      - "traefik.http.middlewares.ssl-redirect.redirectscheme.scheme=https"
      - "traefik.http.middlewares.ssl-redirect.redirectscheme.permanent=true"
      - "traefik.http.routers.http-catchall.rule=HostRegexp(`{host:.+}`)"
      - "traefik.http.routers.http-catchall.entrypoints=web"
      - "traefik.http.routers.http-catchall.middlewares=ssl-redirect"
      
      # TLS configuration
      - "traefik.http.routers.traefik.tls=${TRAEFIK_TLS}"
      - "traefik.http.routers.traefik.tls.certresolver=letsencrypt"

      # Auth
      - "traefik.http.routers.traefik.middlewares=auth"
      - "traefik.http.middlewares.auth.basicauth.usersfile=/etc/traefik/users"
    networks:
      - web
      - traefik-internal

networks:
  web:
    external: true
  traefik-internal:
    external: true

volumes:
  letsencrypt:

